sudo: required
addons:
  chrome: stable
language: node_js
cache: npm
branches:
  only:
    - master
script:
  - npm run lint
  - npm run build
deploy:
  - provider: s3
    access_key_id:
      secure: "uF1qUWoH2ZFpUNMbq3Yfmy9Aq9OCPyNWF6ZEufyX+RXdbJmKA86YxGeGXEUszoJHtqM6O4CMLe8jnTAaNR/VzhlIw1fVrnvFA4xGASOI9IHWgDoKDExJW4WfHQAjUmDmT506+Lc3qxCz5SWV5O3F69/0t8RWHzsfLN1o0dPr58IFd6GG8HC0fwizlsQLdbIUG4whcwAZyJaGx3ui8ezA5ZoOV6TcV1XxiWKxykxieEJ9j87GycgHErhy6M80sWE1wiAsHvKufeNXG33WH8uCoJnZ8kFk/o8Ip0aGg8SQLFqARYsnrZWbLSCPOqmzVBgzI+Iy6cflXqSki9HuJ+L+khtqsl3Lw1HCi9fvVyf870WuqGYY2sMgXXH6ulBf0aO1SSUgttB6UGeLeM81agStjr5MR3+AT4jzc1rKOzMq+qRnfP6MUI+/BWUbtVFygfnDurJ9bPGc3v+nXTfKbq+JZ9IeM6ELU7VTItmH7JPUb55paVgtVUmQ8pUUcUKjSud+26exPrXZV5H6HI0noXdJEU+e0emEhjoTmdtWa4Gzc3gKYGsZRVmo2WUS5G6h/ytJVsRBZiLX7egxevxEE4KTSJzK7P/6Bz234U1LxHqI7wMzTjd94NhsidvRlmclWyePKJ7KQAoKdv2JYILPlN7U24TCOPc1A0ZxtDfQKcnSppk="
    secret_access_key:
      secure: "CZosx38/m+wlwckk9FRGmNX/gr994EbdAX0SK48F3cZy8GWMvzKEN/c+M5EC5OhsYo4LEftMsKf3Zh6UYHqXj5bJLSodzbXEVjHQqm8UFs5GKVsT7/lVb42BfsjQ13Ek6R1OcrUiYF8Xau9lOFvBCgAc601dTlGDXL6PlzyPS3sTP+zYWd3jKPuxJwVFr7Ul/k6PBSBy6dj9v/Vc1gcuKMafZxBPqfmjjZk14uzf8aMc1UgZ++30WOhmQOcrM3mclzCjy2ym/bJBBJy5Db4DDhApppnAxkgKwKfi4JWZAb6aFXlrwlfyaF/sAA1HYlJFpvO4p3XJ54kM9hCeBLyot7Ms9frDsquh5UKabdfSpNSbv6xXJiJcHCKnlx6OQbIfl4N0sviPLsRZ3rNtnJVQPVlEBpLOGMcItXSmnO3Y4K8UI3bUyDuMZGjQA8A6apludJ0J+XdFT68vcayK1rXgPKQiyHRldGxNAxlLtfpTI4jJxVKg5irKpSKqIzhw4KtMXauy8VuXWPggvIPvZ2Y/ulpvQeqa6+Rr2UiQtMAi+UwaOYRFs+TPHEz3xQYpnHNiaFQ4AY/HT4OmP1+9q5csmqQpe5Yzyynzzpb6DXD74GNL9X7/ObUyoX2usOb62yzKcsqlZkayHA2yLSDbhtSqx1+TSVOtYkTpj+9kPs6CbTw="
    skip_cleanup: true
    local_dir: build
    region: ap-southeast-2
    on:
      branch: master
