sudo: required
addons:
  chrome: stable
language: node_js
cache: npm
node_js:
  - '10'
branches:
  only:
    - master
script:
  - npm install
  - npm run build
deploy:
  - provider: s3
    access_key_id:
      secure: "W3jagOUPuCcRou3zo+DMhg8RlAF69IIesyWBKTSWN8qY9Rz6/TNO8pvti+gaXhZ8tki+Z3u7/i9aylTXgYBuF0R3Kethq/lor6BoTxcQIMYsTZ5tDl5bSO8ctzI8dhV/nevQZDvt7OjHT3JGwuczQ3etK48XweGu8U4bWagZeZRRANZlFV676nvplWjav2EhmTPDaszVZ5foEHzHXp7SO6393czIKq85X793S/ecsA06dH5pyXuVAp4qnvJ6OwB5Cw4y2i89xfJURBaSfmlf3OjaLddF1wrF2dM8w1MGyx/Qt7ouyVYN5K3hY6+reB3z99MJd/EHQpfvRyZk0dqttpUzNFVtulejKU7ltMd4LG4M8+kwgRlNtJhx/azwzwTocqqd5SQX0V2XTbQpBjk/b0jggXigCTwYNwZKlXJlsw59hfhseRy8ZZjN/rTROZ9J5bk13MNXb2mcUxX7BrYd57g4CtoPZmh6TMtrgM0OJhTcX6gtMQoOHngR5NpY9gC95/lnBy+MJw+0EnonxKvEJg92SlH9RAK51/lumfcSaQl1OBLuFKLBD9819Rg6INTOdB7j3Hg4QaCqFBZDoso5Je/7IKdnvVNa3QJT9E9yQgHenW0+GO+1WCpHG4PGfbpTivpE2ZZMT8DiF3TXXjMcUvzQRxCloxKi6ehU+lwdG+M="
    secret_access_key:
      secure: "O+hcvonxOYzaMNSH5MRnArp2DlSAeIgSZUlZ8RUyP+QDJocpXqU6m/gR6eYpwztjBQE3joapv1KpMHUD7ko7C8SxdzlLvPVtor6ytYDi2HOragLqkPegad++/FoZpXPal7Cdr+K3m5Jqt83rmoeTZeJN1VS1K+1xJ292oNGnT4c/7dMcvlykf9knASfgkY0y351W8/rEoXOSHLpHCafNoxMCaAiHvHsvQuGaUJieVuNoO8XRToGnLb65clAMhJDTUHUZdKA0vR10yI4fjCXx40NUqCfP6KC0vMaKAAqicJ8isVgPhGKaQpxrUtb9nJtJcW4VOEY05aRxLkjD/s+lOWh12Wa7gQYG8WZOOk4WaDtRd+iAqwt/m8N+sCmvzuzfHM/+UwQ6x0te6QwK9+E3FG7evnfhM1sbx2H8p/c7acAr3WgMrnvqP0N3iVrY7rKQ23oD0xvZAhrHKRBYkW0MNHy92rapMuLlZnFb7xJD/McMzyEAiITje1SEHSrtbqsMWtoQGu+oo8D9X3Q/gSZqQJVHD+ixcLYaKD+ayWIT2s6k2A6PRmFJ3iR33EVaZPtB6HY2bBjHY3538SA0ApSC8zOuNhVOvtiVvbaqv9lnjgmfknr4fOik0YDrOPxHnWhRfdzmBvb4uBqz4lLnB5Wl4TgwDDS1ULpTmm+Whn4DRpo="
    bucket: nodescrape-fe-prod
    skip_cleanup: true
    local_dir: build
    region: ap-southeast-2
    on:
      branch: master